services:
  api:
    build:
      context: ./backend/
      dockerfile: Dockerfile

    volumes:
      - ./backend/photosite-application/.env:/app/.env:ro
      # Добавил, чтобы статика не копировалась в образ, но лежала на сервере и была доступна в приложении:
      - ./backend/photosite-application/static/:/app/static/
    ports:
      - "9000:8000"
    depends_on:
      - pg
      - redis
    
  pg:
    image: postgres:17-alpine

    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

    volumes:
      - photosite_data:/var/lib/postgresql/data


  redis:
    image: "redis:alpine"
    

volumes:
  photosite_data:

